@import 'functions'

$white: #fafafa
$off-white: #F2F2F2
$light-grey: #eaeaea
$dark-gray: #404040
$off-black: #151515
$black: #060606
$white-key-height: 250px
$white-key-margin: 2px
$black-key-height: 150px
$font-size: 14px


body 
	margin: 0
	font-family: -apple-system, "Roboto", sans-serif
	font-style: italic
	font-size: $font-size

.keyboard
	display: flex
	flex-direction: row
	justify-content: space-evenly
	margin: auto -$white-key-margin
	user-select: none

	.key-container
		flex-grow: 1
		flex-basis: 0
		text-align: center
		vertical-align: middle
		position: relative
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center

	.key
		flex-grow: 1
		flex-basis: 0
		text-align: center
		vertical-align: middle
		position: relative
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center

		cursor: pointer
		border-radius: 0 0 4px 4px
		+box-shadow(0, 2px, 4px, $black)

		&.pressed, &:active
			+box-shadow(0, 0, 2px, $black)

		&.white-key
			position: relative
			align-items: flex-end
			color: $black
			+CornerToCornerGradient($white, $off-white)
			margin: -1px $white-key-margin 0 $white-key-margin
			height: $white-key-height

			&.pressed, &:active
				+CornerToCornerGradient($off-white, $light-grey)
			
			.note-text
				margin-bottom: ($white-key-height - $black-key-height) / 2 - $font-size/2

		&.black-key
			+CornerToCornerGradient($black, $off-black)
			color: $white
			height: $black-key-height
			width: 50%
			position: absolute
			top: 0
			left: 0
			transform: translateX(-50%)

			&.pressed
				+box-shadow(0, 0, 2px, $black)
				+CornerToCornerGradient($off-black, $dark-gray)


		

