body {
  margin: 0;
  font-family: -apple-system, "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px; }

.keyboard-container {
  padding: 0 8px 32px 8px; }
  .keyboard-container .keyboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto-2px;
    user-select: none; }
    .keyboard-container .keyboard .key-container {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      vertical-align: middle;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
  .keyboard-container .key {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 4px 4px; }
    .keyboard-container .key.white-key {
      position: relative;
      align-items: flex-end;
      color: #060606;
      background: #F2F2F2;
      background: -moz-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
      background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #fafafa), color-stop(100%, #F2F2F2));
      background: -webkit-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
      background: -o-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
      background: -ms-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
      background: linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
      margin: -1px 2px 0 2px;
      height: 250px;
      -webkit-box-shadow: 0 2px 4px #060606;
      -moz-box-shadow: 0 2px 4px #060606;
      box-shadow: 0 2px 4px #060606; }
      .keyboard-container .key.white-key.pressed {
        -webkit-box-shadow: 0 0 2px #060606;
        -moz-box-shadow: 0 0 2px #060606;
        box-shadow: 0 0 2px #060606;
        background: #eaeaea;
        background: -moz-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
        background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #F2F2F2), color-stop(100%, #eaeaea));
        background: -webkit-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
        background: -o-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
        background: -ms-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
        background: linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%); }
      .keyboard-container .key.white-key .key-text {
        margin-bottom: 43px; }
    .keyboard-container .key.black-key {
      background: #151515;
      background: -moz-linear-gradient(to bottom right, #060606 0%, #151515 100%);
      background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #060606), color-stop(100%, #151515));
      background: -webkit-linear-gradient(to bottom right, #060606 0%, #151515 100%);
      background: -o-linear-gradient(to bottom right, #060606 0%, #151515 100%);
      background: -ms-linear-gradient(to bottom right, #060606 0%, #151515 100%);
      background: linear-gradient(to bottom right, #060606 0%, #151515 100%);
      color: #fafafa;
      height: 150px;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      -webkit-box-shadow: 0 3px 6px #060606;
      -moz-box-shadow: 0 3px 6px #060606;
      box-shadow: 0 3px 6px #060606; }
      .keyboard-container .key.black-key.pressed {
        -webkit-box-shadow: 0 0 2px #060606;
        -moz-box-shadow: 0 0 2px #060606;
        box-shadow: 0 0 2px #060606;
        background: #404040;
        background: -moz-linear-gradient(to bottom right, #151515 0%, #404040 100%);
        background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #151515), color-stop(100%, #404040));
        background: -webkit-linear-gradient(to bottom right, #151515 0%, #404040 100%);
        background: -o-linear-gradient(to bottom right, #151515 0%, #404040 100%);
        background: -ms-linear-gradient(to bottom right, #151515 0%, #404040 100%);
        background: linear-gradient(to bottom right, #151515 0%, #404040 100%); }
  .keyboard-container .controls .ctrl-key {
    position: relative;
    color: #060606;
    margin: 8px;
    background: #F2F2F2;
    background: -moz-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
    background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #fafafa), color-stop(100%, #F2F2F2));
    background: -webkit-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
    background: -o-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
    background: -ms-linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
    background: linear-gradient(to bottom right, #fafafa 0%, #F2F2F2 100%);
    -webkit-box-shadow: 0 2px 4px #060606;
    -moz-box-shadow: 0 2px 4px #060606;
    box-shadow: 0 2px 4px #060606; }
    .keyboard-container .controls .ctrl-key.pressed {
      -webkit-box-shadow: 0 0 2px #060606;
      -moz-box-shadow: 0 0 2px #060606;
      box-shadow: 0 0 2px #060606;
      background: #eaeaea;
      background: -moz-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
      background: -webkit-gradient(linear, top left, bottom right, color-stop(0%, #F2F2F2), color-stop(100%, #eaeaea));
      background: -webkit-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
      background: -o-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
      background: -ms-linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%);
      background: linear-gradient(to bottom right, #F2F2F2 0%, #eaeaea 100%); }
    .keyboard-container .controls .ctrl-key .control-command {
      font-style: normal;
      font-size: 16px;
      color: #404040;
      position: absolute;
      top: 0;
      margin: 8%; }
  .keyboard-container .controls#lower-controls {
    display: flex;
    margin: 12px 0; }
    .keyboard-container .controls#lower-controls .ctrl-container {
      margin: 0 6px; }
    .keyboard-container .controls#lower-controls #octave-controls {
      flex-grow: 0;
      width: 25%;
      display: flex; }
      .keyboard-container .controls#lower-controls #octave-controls .control-label {
        padding: 8px;
        flex-grow: 1; }
      .keyboard-container .controls#lower-controls #octave-controls .octave-key {
        flex-grow: 2; }
        .keyboard-container .controls#lower-controls #octave-controls .octave-key .key-text {
          padding: calc(50% - 1em) 0; }
      .keyboard-container .controls#lower-controls #octave-controls #octave-down .control-command {
        right: 0; }
      .keyboard-container .controls#lower-controls #octave-controls #octave-up .control-command {
        left: 0; }
    .keyboard-container .controls#lower-controls #sustain-controls {
      flex-grow: 0;
      width: 50%; }
      .keyboard-container .controls#lower-controls #sustain-controls .key-text {
        padding: calc(7% - 1em) 0; }
      .keyboard-container .controls#lower-controls #sustain-controls .control-command {
        font-size: 14px;
        margin: 2% 0; }

/*# sourceMappingURL=SynthStyle.css.map */
